IO_LOC "clk27" 4;
IO_PORT "clk27" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "tmds_clk_p" 33;
IO_LOC "tmds_clk_n" 34;

IO_LOC "tmds_d0_p" 35;
IO_LOC "tmds_d0_n" 36;

IO_LOC "tmds_d1_p" 37;
IO_LOC "tmds_d1_n" 38;

IO_LOC "tmds_d2_p" 39;
IO_LOC "tmds_d2_n" 40;
